{% extends 'base.html.twig' %}

{% block title %}New Pic{% endblock %}

{% block body %}
    <h1>Create new Pic</h1>

    {{ include('pic/_form.html.twig') }}

    <a href="{{ path('pic_index') }}">back to list</a>
{% endblock %}
